
<footer class="footer" style="background-color:palegoldenrod;">
  <div class="container-fluid" >
    <nav>
      <ul>
        <li>
          <a>
           WebCore Technologies
          </a>
        </li>
        <li>
          <a>
            About Us
          </a>
        </li>
        <li>
          <a>
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed by
      <a target="_blank">Team Akshay</a>. Coded by
      <a target="_blank">Akshay, Vivek, Akash, Pranav, Hitesh</a>.
    </div>
  </div>
</footer>
