<div class="container">
  <div class="jumbotron">
    <div class="center">
      <h2>Welcome To Payment Portal</h2>
    </div>
  </div>
</div>
<div class="container">
  
    <div class="center">
      <h3>Select  Payment Method</h3>
    </div>
  
</div><br>
<div class="container">
  
    <div class="center">
      <button type="button" class="color" (click)="card()" style="margin-left : 64px">CREDIT CARD/DEBIT CARD</button><br><br>
      <button type="button" class="color" (click)="phonepay()" style="margin-left : 64px">PHONEPAY TRANSFER </button><br><br>
      <button type="button" class="color" (click)="neft()" style="margin-left : 64px">NEFT TRANSFER</button>
    </div>
  
</div>