<div class="container">
  <div class="jumbotron">
    <div class="center">
      <button type="button" (click)="viewAddress()" style="margin-left : 64px">View Address</button>
    </div>
  </div>
</div>

<div class="container">

  <form [formGroup]="this.adminSer.district">
    <div class="row">

      <div class="form-group col-md-12">
        <input type="text" class="form-control" formControlName="districtName" placeholder="Enter District Name">
      </div>

      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="districtCode" placeholder="Enter District Code">
      </div>

      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="districtStatusCode"
          placeholder="Enter District Status Code">
      </div>
    </div>
  </form>

  <form [formGroup]="this.adminSer.state">
    <div class="row">
      <div class="form-group col-md-12">
        <input type="text" class="form-control" formControlName="stateName" placeholder="Enter State Name">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="stateCode" placeholder="Enter State Code">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="stateStatusCode" placeholder="Enter State Status Code">
      </div>
    </div>
  </form>

  <form [formGroup]="this.adminSer.country">
    <div class="row">
      <div class="form-group col-md-12">
        <input type="text" class="form-control" formControlName="countryName" placeholder="Enter Country Name">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="countryCode" placeholder="Enter Country Code">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="countryStatusCode"
          placeholder="Enter Country Status Code">
      </div>
    </div>
  </form>

  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="button" (click)="onSubmit()">Submit</button>
  </div>
  <div class="form-group">
    <button class="btn btn-info btn-lg btn-block" (onclick)="reset()">Reset</button>
  </div>
</div>
<router-outlet></router-outlet>